# Unity3D .gitignore file.
#     Store this file at the root of your local repository.
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/Prototype/Library/FailedAssetImports.txt
/Prototype/Library/cache/
/Prototype/Library/previews/
/Prototype/Library/ScriptAssemblies
/Prototype/Temp/
/Prototype/Library/metadata/
/Prototype/obj/